<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>619597722788-gn0o7lb36uk7p5hnte1he172cgg8ftos.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619597722788-gn0o7lb36uk7p5hnte1he172cgg8ftos</string>
	<key>API_KEY</key>
	<string>AIzaSyDje1EFIw2yvQqPWqMUpWNeSztWrVWY7Jw</string>
	<key>GCM_SENDER_ID</key>
	<string>619597722788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>enzo.final-application</string>
	<key>PROJECT_ID</key>
	<string>petagram-d5a8a</string>
	<key>STORAGE_BUCKET</key>
	<string>petagram-d5a8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:619597722788:ios:32fd18a384bde17c</string>
	<key>DATABASE_URL</key>
	<string>https://petagram-d5a8a.firebaseio.com</string>
</dict>
</plist>